.nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 35%;
  margin: auto;
  padding: 0.5rem;
  border-radius: 10px;
}
.nav a {
  color: rgb(5, 6, 45);
  font-size: 1.1rem;
}
.nav a:hover {
  color: rgba(151, 65, 252, 1);
}