.gradient-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
  position: relative;
  margin: 2rem;
  padding: 0.5rem;
  background:  rgb(5, 6, 45);
  background-clip: padding-box;
  border-radius: 8px;
}
.gradient-box:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px;
  border-radius: inherit;
  background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
}
.Game {
  display: flex;
  flex-direction: column;
}
.Game button {
  margin: auto;
}
.button-64 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e42134;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  margin-bottom: 2rem;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.Game img {
  width: 300px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .Game img {
    width: 250px;
    height: 130px;
  }
}
@media (max-width: 768px) {
  .Game img {
    width: 170px;
    height: 100px;
  }
}
@media (max-width: 425px) {
  .Game img {
    width: 150px;
    height: 80px;
  }
  .gradient-box {
    margin: 1rem;
  }
}
@media (max-width: 375px) {
  .Game img {
    width: 130px;
    height: 70px;
  }
}
@media (max-width: 320px) {
  .Game img {
    width: 170px;
    height: 100px;
  }
  .gradient-box {
    margin: 2rem;
  }
}
