.header-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  align-items: center;
  width: 100%;
  margin: 4rem 0;
}
.header-list h1 {
  margin-bottom: 2rem;
}
.header-list p {
  font-style: italic;
}
@media (max-width: 1440px) {
  .header-list{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .header-list{
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
}
@media (max-width: 425px) {
  .header-list{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0;
  }
}
@media (max-width: 320px) {
  .header-list{
    grid-template-columns: repeat(1, 1fr);
  }
}